
@media screen and (-ms-high-contrast: active)  
{
.nexacontentsbox {-ms-high-contrast-adjust:none; } 
}

html, body
{
  position:absolute;
  width:100%;
  height:100%;
  font:12pt Verdana;
  -moz-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
}

div, header, nav, section, article, aside, footer
{
  position:absolute;
  box-sizing:border-box;
  overflow:hidden;
  background-origin:padding-box;
  background-repeat:no-repeat;
  white-space : pre;
  -moz-user-select:-moz-none;
  -webkit-user-select:none;
  -webkit-touch-callout:none;
  -webkit-appearance:none;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  outline:none;
}

table
{
  position:absolute;
  box-sizing:border-box;
  overflow:hidden;
}

input
{
  position:absolute;
  box-sizing:border-box;
  overflow:hidden;
}

img
{
  position:absolute;
  box-sizing:border-box;
}

input::-ms-clear,input::-ms-reveal
{
  display: none;
}



.nexacontainer
{
  position:absolute;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
}
.nexacontainer.withvscroll
{
  right:14px;
}
.nexacontainer.withhscroll
{
  bottom:14px;
}
.nexacontainer.withbothscroll
{
  right:14px;
  bottom:14px;
}

.nexalefttop
{
  left:0px;
  top:0px;
  background-repeat:no-repeat;
  background-position:left top;
  font-size:1px;
}
.nexaleftbottom
{
  left:0px;
  bottom:0px;
  background-repeat:no-repeat;
  background-position:left bottom;
  font-size:1px;
}
.nexarightbottom
{
  right:0px;
  bottom:0px;
  background-repeat:no-repeat;
  background-position:right bottom;
  font-size:1px;
}
.nexarighttop
{
  right:0px;
  top:0px;
  background-repeat:no-repeat;
  background-position:right top;
}
.nexaedge
{
  width:100%;
  height:100%;
}
.nexamodaloverlay
{
  width:100%;
  height:100%;
}
.nexainnercontainer
{
  transform : translate3d(0px, 0px, 0);
}

.nexatransform
{
  transform : translate3d(0px, 0px, 0);
}

.nexacontentsbox
{
  position:relative;
  display:table-cell;
  background-position:left center;
  background-repeat:no-repeat;
  vertical-align:middle;
}
.nexatextitem
{
  position:relative;
  vertical-align:middle;
  white-space:inherit;
  word-wrap:inherit;
  word-break:inherit;
  text-decoration:inherit;
}
.nexaiconitem
{
  position:relative;
  vertical-align:middle;
  background-position:center center;
  background-repeat:no-repeat;
}

.nexainput
{
  font:inherit;
  color:inherit;
  cursor:inherit;
  letter-spacing:inherit;
  word-spacing:inherit;
  border:none;
  outline:none;
  background:transparent;
  padding : 0px;
}

.nexatextarea
{
  font:inherit;
  color:inherit;
  cursor:inherit;
  line-height : inherit;
  letter-spacing:inherit;
  word-spacing:inherit;
  white-space:pre;
  word-wrap:normal;
  border:none;
  outline:none;
  resize:none;
  background:transparent;
  padding : 0px;
}

.nexaleftalign
{
  text-align:left;
}

.nexarightalign
{
  text-align:right;
}

.nexacenteralign
{
  text-align:center;
}

.nexamap div *
{
  overflow:visible;
}

.nexanativescroll
{
  overflow:scroll;
  -ms-overflow-style:none;
}

.celltreeline
{
  border : 1px dotted #999999;
}

.Edit, .MaskEdit, .TextArea, .EditControl, .MaskEditControl, .TextAreaControl
{
  cursor:text;
}
.Button .nexacontentsbox, .ButtonControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}

.FileDownload  .nexacontentsbox, .FileDownloadControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}

.IconTextControl .nexacontentsbox, .IconControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}

.DatePickerDayItemControl .nexacontentsbox, .DatePickerWeekItemControl .nexacontentsbox, .TitleBarButtonControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}

.Sketch .nexacontentsbox
{
   text-align:center;
}

.MainFrame, .VScrollBarControl, .HScrollBarControl
{
  cursor:default;
}

.Form
{
	font : normal 11pt/normal "メイリオ","Meiryo","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック","sans-serif";
}
.ChildFrame
{
	border : 0px none;
}
.FrameSet
{
	border : 0px none;
}
.VFrameSet
{
	border : 0px none;
}
.HFrameSet
{
	border : 0px none;
}
.TileFrameSet
{
	border : 0px none;
}
.Static.label_type01
{
	background : #595959;
	color : white;
	border-radius : 5px 0px 0px 5px;
}
.Static.label_type01 .nexacontentsbox
{
	vertical-align : middle;
	background-position-y : center;
	text-align : center;
	background-position-x : center;
}
.Static.label_type02
{
	background : transparent;
	color : white;
}
.Static.label_type02 .nexacontentsbox
{
	vertical-align : middle;
	background-position-y : center;
	text-align : left;
	background-position-x : left;
}
.Button.button_type01
{
	background : #003a8c;
	border : 1px solid #003a8c;
	color : #ffffff;
	border-radius : 4px;
	box-shadow : 0px 2px 4px #d9d9d9;
	cursor : pointer;
}
.Button.button_type02
{
	background : #3392c1;
	border : 1px solid #3392c1;
	color : #ffffff;
	border-radius : 4px;
	box-shadow : 0px 2px 4px #d9d9d9;
	cursor : pointer;
}
.CheckBox.style_type01
{
	border : 1px solid #d9d9d9;
	cursor : pointer;
	border-radius : 0px 5px 5px 0px;
	background : white;
	color : #1f1f1f;
}
.CheckBox.style_type01 .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
	vertical-align : middle;
	background-position-y : center;
}
.Radio.style_type01 .radioitem
{
	color : #1f1f1f;
}
.Radio.style_type01 .radioitem .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
	vertical-align : middle;
	background-position-y : center;
}
.Radio.style_type01
{
	border : 1px solid #d9d9d9;
	cursor : pointer;
	border-radius : 0px 5px 5px 0px;
	background : white;
}
.Edit.style_type01
{
	background : #ffffff;
	border : 1px solid #d9d9d9;
	color : #1f1f1f;
	border-radius : 0px 5px 5px 0px;
	box-shadow : 0px 0px 0px #ffffff;
}
.Edit.style_type01 .nexainput
{
	padding : 1px 5px 1px 5px;
}
.TextArea.style_type01
{
	background : url('./../../../_resource_/_images_/textarea_end.png') no-repeat right bottom #ffffff;
	border : 1px solid #d9d9d9;
	color : #1f1f1f;
	border-radius : 0px 5px 5px 0px;
	box-shadow : 0px 0px 0px #ffffff;
}
.TextArea.style_type01 .nexatextarea
{
	padding : 5px;
}
.Spin.spin_type01
{
	background : #ffffff;
	border : 1px solid #d9d9d9;
	color : #1f1f1f;
	border-radius : 0px 5px 5px 0px;
	box-shadow : 0px 0px 0px #ffffff;
}
.MaskEdit.style_type01
{
	background : #ffffff;
	border : 1px solid #d9d9d9;
	color : #1f1f1f;
	border-radius : 0px 5px 5px 0px;
	box-shadow : 0px 0px 0px #ffffff;
}
.MaskEdit.style_type01 .nexainput
{
	padding : 1px 5px 1px 5px;
}
.Calendar.style_type01
{
	background : #ffffff;
	border : 1px solid #d9d9d9;
	color : #1f1f1f;
	border-radius : 0px 5px 5px 0px;
	box-shadow : 0px 0px 0px #ffffff;
}
.Combo.style_type01
{
	background : #ffffff;
	border : 1px solid #d9d9d9;
	border-radius : 0px 5px 5px 0px;
	box-shadow : 0px 0px 0px #ffffff;
}
.Combo.style_type01 .comboedit
{
	color : #1f1f1f;
}
.Combo.style_type01 .dropbutton
{
	cursor : pointer;
}
.ListBoxControl.popupCombostyle_type01combolist.dummy.dummy
{
	background : #ffffff;
	border : 1px solid #d9d9d9;
	font : 11pt "Meiryo UI", "Verdana", "Roboto", "Droid Sans", "游ゴシック", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ＭＳ Ｐゴシック", "sans-serif";
}
.ListBoxControl.popupCombostyle_type01combolist.dummy.dummy .listboxitem
{
	background : #ffffff;
}
.ListBox.style_type01
{
	background : #ffffff;
	border : 1px solid #d9d9d9;
	border-radius : 5px;
	box-shadow : 0px 0px 0px #ffffff;
}
.ListBox.style_type01 .listboxitem
{
	background : #ffffff;
	cursor : pointer;
}
.DatePickerControl
{
	background : #ffffff;
	border-radius : 4px;
	border : 1px solid #d9d9d9;
}
.DatePickerControl .head
{
	background : #ffffff;
	color : #1f1f1f;
	border-top : 0px none;
	border-right : 0px none;
	border-bottom : 1px solid #d9d9d9;
	border-left : 0px none;
}
.DatePickerControl .head .yearstatic
{
	font : bold 12pt "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo","ＭＳ Ｐゴシック","sans-serif";
	color : #1f1f1f;
}
.DatePickerControl .head .monthstatic
{
	font : bold 12pt "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo","ＭＳ Ｐゴシック","sans-serif";
	color : #1f1f1f;
}
.DatePickerControl .head .nextbutton
{
	background : #ffffff;
}
.DatePickerControl .head .prevbutton
{
	background : #ffffff;
}
.DatePickerControl .body
{
	background : #ffffff;
	border : 0px none #ffffff;
}
.DatePickerControl .body .dayitem
{
	border : 1px solid white;
	border-radius : 3px;
	font : normal 10pt/normal "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo","ＭＳ Ｐゴシック","sans-serif";
	color : #1f1f1f;
}
.DatePickerControl .body .weekitem
{
	font : normal 10pt/normal "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo","ＭＳ Ｐゴシック","sans-serif";
	background : #ffffff;
	color : #333333;
}
.DatePickerControl .body .weekband
{
	background : #ffffff;
}
.DatePickerControl .head .yearspin .spinedit
{
	font : normal 700 10pt/normal "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo","ＭＳ Ｐゴシック","sans-serif";
}
.DatePickerControl .head .monthspin .spinedit
{
	font : normal 700 10pt/normal "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo","ＭＳ Ｐゴシック","sans-serif";
}
.Grid.style_type01
{
	border : 1px solid #d8d8d8;
	border-radius : 4px;
}
.Grid.style_type01 .head
{
	background : #e8e8e8;
}
.Grid.style_type01 .head .row .cell
{
	font : normal 400 10pt/normal "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo","ＭＳ Ｐゴシック","sans-serif";
	background : #595959;
	color : #ffffff;
}
.Grid.style_type01 .head .row .cell > .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
}
.Grid.style_type01 .head .row .cell.oddcell
{
	background : #595959;
}
.Grid.style_type01 .body .row .cell
{
	font : normal 400 10pt/normal "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo","ＭＳ Ｐゴシック","sans-serif";
}
.Grid.style_type01 .body .row .cell .cellbutton
{
	border-radius : 4px;
	border : 1px solid #7f7f7f;
	background : white;
	cursor : pointer;
	font : normal 400 10pt/normal "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo","ＭＳ Ｐゴシック","sans-serif";
	box-shadow : 0px 2px 5px #adafb0;
}
.Grid.style_type01 .body .row .cell .cellbutton .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
	vertical-align : middle;
	background-position-y : center;
}
.Grid.style_type01 .body .row .cell .celledit
{
	background : #ffffff;
	border-top : 1px solid rgba(0,0,0,0.12);
	border-right : 1px solid rgba(0,0,0,0.12);
	border-bottom : 1px solid rgba(0,0,0,0.12);
	border-left : 1px solid rgba(0,0,0,0.12);
	color : RGBA(0,0,0,0.87);
	border-radius : 4px 4px;
	font : normal 400 10pt/normal "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo","ＭＳ Ｐゴシック","sans-serif";
}
.Grid.style_type01 .body .row .cell .celledit .nexainput
{
	padding : 0px 3px 0px 3px;
	text-align : left;
}
.Grid.style_type01 .body .row .cell .celledit .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
}
.Grid.style_type01 .body .row .cell .cellmaskedit
{
	background : #ffffff;
	border-top : 1px solid rgba(0,0,0,0.12);
	border-right : 1px solid rgba(0,0,0,0.12);
	border-bottom : 1px solid rgba(0,0,0,0.12);
	border-left : 1px solid rgba(0,0,0,0.12);
	color : RGBA(0,0,0,0.87);
	border-radius : 4px 4px;
	font : normal 400 10pt/normal "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo","ＭＳ Ｐゴシック","sans-serif";
}
.Grid.style_type01 .body .row .cell .cellmaskedit .nexainput
{
	padding : 0px 3px 0px 3px;
	text-align : left;
}
.Grid.style_type01 .body .row .cell .cellmaskedit .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
}
.Grid.style_type01 .body .row .cell .celltextarea
{
	background : url('./../../../_resource_/_images_/textarea_end.png') no-repeat right bottom #ffffff;
	border-top : 1px solid rgba(0,0,0,0.12);
	border-right : 1px solid rgba(0,0,0,0.12);
	border-bottom : 1px solid rgba(0,0,0,0.12);
	border-left : 1px solid rgba(0,0,0,0.12);
	color : RGBA(0,0,0,0.87);
	border-radius : 4px 4px;
	font : normal 400 10pt/normal "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo","ＭＳ Ｐゴシック","sans-serif";
}
.Grid.style_type01 .body .row .cell .celltextarea .nexatextarea
{
	padding : 3px 3px 0px;
	text-align : left;
}
.Grid.style_type01 .body .row .cell .celltextarea .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
}
.Grid.style_type01 .body .row .cell .cellcheckbox
{
	cursor : pointer;
}
.Grid.style_type01 .body .row .cell .cellcheckbox .nexacontentsbox
{
	vertical-align : middle;
	background-position-y : center;
}
.Grid.style_type01 .body .row .cell .celltreeline
{
	border : 1px dotted #999999;
}
.Grid.style_type01 .body .row .cell .cellcalendar
{
	background : #ffffff;
	border-top : 1px solid rgba(0,0,0,0.12);
	border-right : 1px solid rgba(0,0,0,0.12);
	border-bottom : 1px solid rgba(0,0,0,0.12);
	border-left : 1px solid rgba(0,0,0,0.12);
	color : RGBA(0,0,0,0.87);
	border-radius : 4px 4px;
	font : normal 400 10pt/normal "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo","ＭＳ Ｐゴシック","sans-serif";
}
.Grid.style_type01 .body .row .cell .cellcalendar .calendaredit .nexainput
{
	padding : 0px;
}
.Grid.style_type01 .body .row .cell .cellcalendar .dropbutton
{
	cursor : pointer;
}
.Grid.style_type01 .body .row .cell .cellcombo
{
	background : #ffffff;
	border-top : 1px solid rgba(0,0,0,0.12);
	border-right : 1px solid rgba(0,0,0,0.12);
	border-bottom : 1px solid rgba(0,0,0,0.12);
	border-left : 1px solid rgba(0,0,0,0.12);
	color : RGBA(0,0,0,0.87);
	border-radius : 4px 4px;
	font : normal 400 10pt/normal "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo","ＭＳ Ｐゴシック","sans-serif";
}
.ListBoxControl.popupGridstyle_type01bodyrowcellcellcombocombolist.dummy.dummy.dummy.dummy.dummy.dummy
{
	background : white;
}
.ListBoxControl.popupGridstyle_type01bodyrowcellcellcombocombolist.dummy.dummy.dummy.dummy.dummy.dummy .listboxitem
{
	font : normal 400 10pt/normal "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo","ＭＳ Ｐゴシック","sans-serif";
	background : white;
}
.Grid.style_type01 .body .row .cell .cellcombo .dropbutton
{
	background : transparent;
	cursor : pointer;
}
.Grid.style_type01 .body .row .cell .cellprogressbar
{
	border-radius : 4px;
}
.Grid.style_type01 .body .row .cell .celltreeitem .treeitemtext
{
	font : normal 400 12pt/normal "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo","ＭＳ Ｐゴシック","sans-serif";
}
.Grid.style_type01 .summary
{
	background : #00bcd4;
}
.Grid.style_type01 .summary .row .cell
{
	background : #b6b6b6;
	color : white;
	font : normal 400 10pt/normal "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo","ＭＳ Ｐゴシック","sans-serif";
}
.Grid.style_type01 .summary .row .cell > .nexacontentsbox
{
	text-align : right;
	background-position-x : right;
}
.Grid .head .row .cell.grid_sort_up.dummy.dummy.dummy.oddcell
{
	background : #595959 url('./../../../_resource_/_images_/icon_sort_up.png') no-repeat 95% center;
	color : white;
}
.Grid .head .row .cell.grid_sort_up.dummy.dummy.dummy
{
	background : #595959 url('./../../../_resource_/_images_/icon_sort_up.png') no-repeat 95% center;
	color : white;
}
.Grid .head .row .cell.grid_sort_down.dummy.dummy.dummy.oddcell
{
	background : #595959 url('./../../../_resource_/_images_/icon_sort_down.png') no-repeat 95% center;
	color : white;
}
.Grid .head .row .cell.grid_sort_down.dummy.dummy.dummy
{
	background : #595959 url('./../../../_resource_/_images_/icon_sort_down.png') no-repeat 95% center;
	color : white;
}
.Grid .head .row .cell.grid_sort_none.dummy.dummy.dummy.oddcell
{
	background : #595959 url('./../../../_resource_/_images_/icon_sort_none.png') no-repeat 95% center;
	color : white;
}
.Grid .head .row .cell.grid_sort_none.dummy.dummy.dummy
{
	background : #595959 url('./../../../_resource_/_images_/icon_sort_none.png') no-repeat 95% center;
	color : white;
}
.Menu.menu_type01
{
	background : #004c8b;
	color : white;
}
.Menu.menu_type01 .menuitem
{
	background : #004c8b;
	font : normal 400 12pt/normal "メイリオ","Meiryo","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック","sans-serif";
}
.Menu.menu_type01 .menuitem .nexacontentsbox
{
	vertical-align : middle;
	background-position-y : center;
	text-align : center;
	background-position-x : center;
}
.PopupMenuControl.popupMenumenupopupmenu.dummy
{
	border : 1px solid #e5e5e5;
	box-shadow : 0px 6px 6px #e0e0e0;
	border-radius : 4px;
	background : white;
	color : RGBA(0,0,0,0.87);
}
.PopupMenuControl.popupMenumenupopupmenu.dummy .popupmenuitem
{
	color : RGBA(0,0,0,0.87);
	border : 0px none;
}
.PopupMenuControl.popupMenumenupopupmenu.dummy .popupmenuitem .popupmenuitemtext
{
	color : RGBA(0,0,0,0.87);
}
.PopupMenuControl.popupMenumenupopupmenu.dummy .popupmenuitem .popupmenuitemhotkeytext
{
	font : 12pt "メイリオ","Meiryo","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック","sans-serif";
	color : #707070;
}
.ImageViewer
{
	background : transparent;
	border : 0px none;
}
.PopupDiv
{
	background : #ffffff;
	border : 1px solid gainsboro;
}
#nexacontainer .Button.button_type01[status=focused]
{
	background : #0050b3;
	border : 1px solid #003a8c;
	color : #ffffff;
}
#nexacontainer .Button.button_type01[status=mouseover]
{
	background : #003a8c;
	border : 1px solid #40a9ff;
	color : #ffffff;
}
#nexacontainer .Button.button_type02[status=focused]
{
	background : #59aad3;
	border : 1px solid #3392c1;
	color : #ffffff;
}
#nexacontainer .Button.button_type02[status=mouseover]
{
	background : #3392c1;
	border : 1px solid #40a9ff;
	color : #ffffff;
}
#nexacontainer .CheckBox.style_type01[status=focused]
{
	border : 1px solid #40a9ff;
}
#nexacontainer .Radio.style_type01 .radioitem[status=mouseover] .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
	vertical-align : middle;
	background-position-y : center;
}
#nexacontainer .Radio.style_type01 .radioitem[status=mouseover]
{
	color : #1f1f1f;
}
#nexacontainer .Radio.style_type01[status=mouseover]
{
	border : 1px solid #d9d9d9;
	cursor : pointer;
	border-radius : 0px 5px 5px 0px;
	background : white;
}
#nexacontainer .Radio.style_type01[status=focused]
{
	border : 1px solid #40a9ff;
}
#nexacontainer .Edit.style_type01[status=mouseover]
{
	background : #ffffff;
	border : 1px solid #d9d9d9;
	color : #1f1f1f;
}
#nexacontainer .Edit.style_type01[status=focused]
{
	background : #ffffff;
	border : 1px solid #40a9ff;
	color : #1f1f1f;
}
#nexacontainer .Edit.style_type01[status=readonly]
{
	background : #fafafa;
	border : 1px solid #d9d9d9;
	color : #1f1f1f;
}
#nexacontainer .TextArea.style_type01[status=mouseover]
{
	border : 1px solid #d9d9d9;
	color : #1f1f1f;
}
#nexacontainer .TextArea.style_type01[status=focused]
{
	border : 1px solid #40a9ff;
	color : #1f1f1f;
}
#nexacontainer .TextArea.style_type01[status=readonly]
{
	background : #fafafa;
	border : 1px solid #d9d9d9;
	color : #1f1f1f;
}
#nexacontainer .Spin.style_type01[status=mouseover]
{
	background : #ffffff;
	border : 1px solid #d9d9d9;
	color : #1f1f1f;
}
#nexacontainer .Spin.style_type01[status=focused]
{
	background : #ffffff;
	border : 1px solid #40a9ff;
	color : #1f1f1f;
}
#nexacontainer .Spin.style_type01[status=readonly]
{
	background : #fafafa;
	border : 1px solid #d9d9d9;
	color : #1f1f1f;
}
#nexacontainer .MaskEdit.style_type01[status=mouseover]
{
	background : #ffffff;
	border : 1px solid #d9d9d9;
	color : #1f1f1f;
}
#nexacontainer .MaskEdit.style_type01[status=focused]
{
	background : #ffffff;
	border : 1px solid #40a9ff;
	color : #1f1f1f;
}
#nexacontainer .MaskEdit.style_type01[status=readonly]
{
	background : #fafafa;
	border : 1px solid #d9d9d9;
	color : #1f1f1f;
}
#nexacontainer .Calendar.style_type01[status=mouseover]
{
	background : #ffffff;
	border : 1px solid #d9d9d9;
	color : #1f1f1f;
}
#nexacontainer .Calendar.style_type01[status=focused]
{
	background : #ffffff;
	border : 1px solid #40a9ff;
	color : #1f1f1f;
}
#nexacontainer .Calendar.style_type01[status=readonly]
{
	background : #fafafa;
	border : 1px solid #d9d9d9;
	color : #1f1f1f;
}
#nexacontainer .Combo.style_type01[status=mouseover]
{
	background : #ffffff;
	border : 1px solid #d9d9d9;
}
#nexacontainer .Combo.style_type01[status=focused]
{
	background : #ffffff;
	border : 1px solid #40a9ff;
}
#nexacontainer .Combo.style_type01[status=readonly]
{
	background : #fafafa;
	border : 1px solid #d9d9d9;
}
#nexacontainer .Combo.style_type01 .comboedit[status=mouseover]
{
	color : #1f1f1f;
}
#nexacontainer .Combo.style_type01 .comboedit[status=focused]
{
	color : #1f1f1f;
}
#nexacontainer .Combo.style_type01 .comboedit[status=readonly]
{
	color : #1f1f1f;
}
#nexacontainer .ListBoxControl.popupCombostyle_type01combolist.dummy.dummy[status=mouseover]
{
	background : #ffffff;
	border : 1px solid #d9d9d9;
	font : 11pt "Meiryo UI", "Verdana", "Roboto", "Droid Sans", "游ゴシック", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ＭＳ Ｐゴシック", "sans-serif";
}
#nexacontainer .ListBoxControl.popupCombostyle_type01combolist.dummy.dummy .listboxitem[status=mouseover]
{
	background : #ffffff;
	color : #1f1f1f;
}
#nexacontainer .ListBox.style_type01[status=mouseover]
{
	background : #ffffff;
	border : 1px solid #d9d9d9;
}
#nexacontainer .ListBox.style_type01[status=focused]
{
	background : #ffffff;
	border : 1px solid #40a9ff;
}
#nexacontainer .ListBox.style_type01[status=readonly]
{
	background : #fafafa;
	border : 1px solid #d9d9d9;
}
#nexacontainer .ListBox.style_type01 .listboxitem[status=mouseover]
{
	background : #f5f5f5;
	color : #1f1f1f;
}
#nexacontainer .DatePickerControl .head .nextbutton[status=mouseover]
{
	background : #d9d9d9;
}
#nexacontainer .DatePickerControl .head .prevbutton[status=mouseover]
{
	background : #d9d9d9;
}
#nexacontainer .DatePickerControl .body .dayitem[status=mouseover]
{
	border : 1px solid #d9d9d9;
	background : #d9d9d9;
	border-radius : 3px;
	color : #1f1f1f;
}
#nexacontainer .Grid.style_type01[status=mouseover]
{
	border : 1px solid #d8d8d8;
	border-radius : 4px;
}
#nexacontainer .Grid.style_type01[status=focused]
{
	border : 1px solid #d8d8d8;
	border-radius : 4px;
}
#nexacontainer .Grid.style_type01 .body .row .cell .cellbutton[status=focused] .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
	vertical-align : middle;
	background-position-y : center;
}
#nexacontainer .Grid.style_type01 .body .row .cell .cellbutton[status=focused]
{
	border-radius : 4px;
	border : 1px solid #7f7f7f;
	background : white;
	cursor : pointer;
	font : normal 400 10pt/normal "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo","ＭＳ Ｐゴシック","sans-serif";
	box-shadow : 0px 2px 5px #adafb0;
}
#nexacontainer .Grid.style_type01 .body .row .cell .cellbutton[status=mouseover]
{
	background : #e6e6e6;
	border : 1px solid #7f7f7f;
}
#nexacontainer .Grid.style_type01 .body .row .cell .celledit[status=focused]
{
	background : #ffffff;
	border : 1px solid #0277bd;
}
#nexacontainer .Grid.style_type01 .body .row .cell .cellmaskedit[status=focused]
{
	background : #ffffff;
	border : 1px solid #0277bd;
}
#nexacontainer .Grid.style_type01 .body .row .cell .celltextarea[status=focused]
{
	background : #ffffff;
	border : 1px solid #0277bd;
}
#nexacontainer .Grid.style_type01 .body .row .cell .cellcalendar[status=focused]
{
	background : #ffffff;
	border : 1px solid #0277bd;
}
#nexacontainer .Grid.style_type01 .body .row .cell .cellcombo[status=focused]
{
	background : #ffffff;
	border : 1px solid #0277bd;
}
#nexacontainer .Grid.style_type01 .body .row .cell .celledit[status=readonly]
{
	background : #f9f9f9;
	border : 1px solid #cccccc;
}
#nexacontainer .Grid.style_type01 .body .row .cell .cellmaskedit[status=readonly]
{
	background : #f9f9f9;
	border : 1px solid #cccccc;
}
#nexacontainer .Grid.style_type01 .body .row .cell .celltextarea[status=readonly]
{
	background : #f9f9f9;
	border : 1px solid #cccccc;
}
#nexacontainer .Grid.style_type01 .body .row .cell .cellcalendar[status=readonly]
{
	background : #f9f9f9;
	border : 1px solid #cccccc;
}
#nexacontainer .Grid.style_type01 .body .row .cell .cellcombo[status=readonly]
{
	background : #f9f9f9;
	border : 1px solid #cccccc;
}
#nexacontainer .Grid.style_type01 .body .row .cell .celledit[status=mouseover]
{
	background : #ffffff;
	border : 1px solid #000000;
}
#nexacontainer .Grid.style_type01 .body .row .cell .cellmaskedit[status=mouseover]
{
	background : #ffffff;
	border : 1px solid #000000;
}
#nexacontainer .Grid.style_type01 .body .row .cell .celltextarea[status=mouseover]
{
	background : #ffffff;
	border : 1px solid #000000;
}
#nexacontainer .Grid.style_type01 .body .row .cell .cellcalendar[status=mouseover]
{
	background : #ffffff;
	border : 1px solid #000000;
}
#nexacontainer .Grid.style_type01 .body .row .cell .cellcombo[status=mouseover]
{
	background : #ffffff;
	border : 1px solid #000000;
}
#nexacontainer .ListBoxControl.popupGridstyle_type01bodyrowcellcellcombocombolist.dummy.dummy.dummy.dummy.dummy.dummy .listboxitem[status=mouseover]
{
	background : #eaeaea;
}
#nexacontainer .Grid.style_type01 .body .row .cell .cellcombo .dropbutton[status=mouseover]
{
	background : transparent;
	cursor : pointer;
}
#nexacontainer .Menu.menu_type01 .menuitem[status=mouseover]
{
	background : #005499;
	cursor : pointer;
}
#nexacontainer .Menu.menu_type01 .menuitem[status=focused]
{
	background : #004c8b;
}
#nexacontainer .PopupMenuControl.popupMenumenupopupmenu.dummy[status=mouseover]
{
	border : 1px solid #e5e5e5;
	box-shadow : 0px 6px 6px #e0e0e0;
	border-radius : 4px;
}
#nexacontainer .PopupMenuControl.popupMenumenupopupmenu.dummy .popupmenuitem[status=mouseover]
{
	background : #eaeaea;
	color : RGBA(0,0,0,0.87);
}
#nexacontainer .PopupMenuControl.popupMenumenupopupmenu.dummy .popupmenuitem[status=focused]
{
	background : #d8d8d8;
	color : RGBA(0,0,0,0.87);
}
#nexacontainer .PopupMenuControl.popupMenumenupopupmenu.dummy .popupmenuitem .popupmenuitemtext[status=mouseover]
{
	color : RGBA(0,0,0,0.87);
}
#nexacontainer .PopupMenuControl.popupMenumenupopupmenu.dummy .popupmenuitem .popupmenuitemhotkeytext[status=mouseover]
{
	font : 12pt "メイリオ","Meiryo","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック","sans-serif";
	color : #707070;
}
#nexacontainer .ImageViewer[status=mouseover]
{
	background : transparent;
	border : 0px none;
}
#nexacontainer .ImageViewer[status=focused]
{
	background : transparent;
	border : 0px none;
}
#nexacontainer .PopupDiv[status=mouseover]
{
	background : #ffffff;
	border : 1px solid gainsboro;
}
#nexacontainer .PopupDiv[status=focused]
{
	background : #ffffff;
	border : 1px solid gainsboro;
}
#nexacontainer .Button.button_type01[userstatus=pushed]
{
	background : #002766;
	border : 1px solid #ffffff;
	color : #ffffff;
}
#nexacontainer .Button.button_type01[userstatus=selected]
{
	background : #002766;
	border : 1px solid #ffffff;
	color : #ffffff;
}
#nexacontainer .Button.button_type02[userstatus=pushed]
{
	background : #266d91;
	border : 1px solid #ffffff;
	color : #ffffff;
}
#nexacontainer .Button.button_type02[userstatus=selected]
{
	background : #266d91;
	border : 1px solid #ffffff;
	color : #ffffff;
}
#nexacontainer .Edit.style_type01[userstatus=nulltext]
{
	background : #ffffff;
	border : 1px solid #d9d9d9;
	color : #d9d9d9;
}
#nexacontainer .TextArea.style_type01[userstatus=nulltext]
{
	border : 1px solid #d9d9d9;
	color : #d9d9d9;
}
#nexacontainer .Spin.style_type01[userstatus=invalidtext]
{
	background : #ffffff;
	border : 1px solid #d9d9d9;
	color : #d9d9d9;
}
#nexacontainer .MaskEdit.style_type01[userstatus=nulltext]
{
	background : #ffffff;
	border : 1px solid #d9d9d9;
	color : #d9d9d9;
}
#nexacontainer .Calendar.style_type01[userstatus=invalidtext]
{
	background : #ffffff;
	border : 1px solid #d9d9d9;
	color : #d9d9d9;
}
#nexacontainer .ListBoxControl.popupCombostyle_type01combolist.dummy.dummy .listboxitem[userstatus=selected]
{
	background : #ffffff;
	color : #1f1f1f;
}
#nexacontainer .ListBox.style_type01 .listboxitem[userstatus=selected]
{
	background : #91d5ff;
	color : #1f1f1f;
}
#nexacontainer .DatePickerControl .body .dayitem[userstatus=today]
{
	border : 1px solid #d9d9d9;
	background : #ffffff;
	border-radius : 3px;
	color : #1f1f1f;
}
#nexacontainer .DatePickerControl .body .dayitem[userstatus=selected]
{
	border : 0px none;
	border-radius : 3px;
	color : #1f1f1f;
	background : #bae7ff;
}
#nexacontainer .DatePickerControl .body .dayitem[userstatus=day]
{
	border : 1px solid white;
	border-radius : 3px;
	color : #1f1f1f;
}
#nexacontainer .Grid.style_type01 .body .row .cell .cellbutton[userstatus=pushed]
{
	background : #bcbcbc;
	border : 1px solid #7f7f7f;
}
#nexacontainer .Grid.style_type01 .body .row .cell .celltreeitem .treeitembutton[userstatus=expand]
{
	cursor : pointer;
}
#nexacontainer .Grid.style_type01 .body .row .cell .celltreeitem .treeitembutton[userstatus=collapse]
{
	cursor : pointer;
}
#nexacontainer .ListBoxControl.popupGridstyle_type01bodyrowcellcellcombocombolist.dummy.dummy.dummy.dummy.dummy.dummy .listboxitem[userstatus=selected]
{
	background : #cccccc;
}
#nexacontainer .Grid.style_type01 .body .row .cell .cellcombo .dropbutton[userstatus=pushed]
{
	background : transparent;
	cursor : pointer;
}
#nexacontainer .Menu.menu_type01 .menuitem[userstatus=selected]
{
	background : #004c8b;
}
#nexacontainer .PopupMenuControl.popupMenumenupopupmenu.dummy .popupmenuitem[userstatus=selected]
{
	background : #eaeaea;
	color : RGBA(0,0,0,0.87);
}
#nexacontainer .Button.button_type01[status=disabled]
{
	background : #bfbfbf;
	border : 1px solid #bfbfbf;
	color : #ffffff;
}
#nexacontainer .Button.button_type02[status=disabled]
{
	background : #bfbfbf;
	border : 1px solid #bfbfbf;
	color : #ffffff;
}
#nexacontainer .Edit.style_type01[status=disabled]
{
	background : #fafafa;
	border : 1px solid #f5f5f5;
	color : #1f1f1f;
}
#nexacontainer .TextArea.style_type01[status=disabled]
{
	background : #fafafa;
	border : 1px solid #f5f5f5;
	color : #1f1f1f;
}
#nexacontainer .Spin.style_type01[status=disabled]
{
	background : #fafafa;
	border : 1px solid #f5f5f5;
	color : #1f1f1f;
}
#nexacontainer .MaskEdit.style_type01[status=disabled]
{
	background : #fafafa;
	border : 1px solid #f5f5f5;
	color : #1f1f1f;
}
#nexacontainer .Calendar.style_type01[status=disabled]
{
	background : #fafafa;
	border : 1px solid #f5f5f5;
	color : #1f1f1f;
}
#nexacontainer .Combo.style_type01[status=disabled]
{
	background : #fafafa;
	border : 1px solid #f5f5f5;
}
#nexacontainer .Combo.style_type01 .comboedit[status=disabled]
{
	color : #1f1f1f;
}
#nexacontainer .ListBox.style_type01[status=disabled]
{
	background : #fafafa;
	border : 1px solid #f5f5f5;
}
#nexacontainer .Grid.style_type01 .body .row .cell .celledit[status=disabled]
{
	color : #999999;
	background : #f2f2f2;
	border : 1px solid #cccccc;
}
#nexacontainer .Grid.style_type01 .body .row .cell .cellmaskedit[status=disabled]
{
	color : #999999;
	background : #f2f2f2;
	border : 1px solid #cccccc;
}
#nexacontainer .Grid.style_type01 .body .row .cell .celltextarea[status=disabled]
{
	color : #999999;
	background : #f2f2f2;
	border : 1px solid #cccccc;
}
#nexacontainer .Grid.style_type01 .body .row .cell .cellcalendar[status=disabled]
{
	color : #999999;
	background : #f2f2f2;
	border : 1px solid #cccccc;
}
#nexacontainer .Grid.style_type01 .body .row .cell .cellcombo[status=disabled]
{
	color : #999999;
	background : #f2f2f2;
	border : 1px solid #cccccc;
}
#nexacontainer .PopupMenuControl.popupMenumenupopupmenu.dummy .popupmenuitem .popupmenuitemtext[status=disabled]
{
	color : #cfd8dc;
}
#nexacontainer .PopupMenuControl.popupMenumenupopupmenu.dummy .popupmenuitem .popupmenuitemhotkeytext[status=disabled]
{
	color : #cfd8dc;
}
#nexacontainer .CheckBox.style_type01[status=focused][userstatus=selected]
{
	border : 1px solid #40a9ff;
}
#nexacontainer .Edit.style_type01[status=mouseover][userstatus=nulltext]
{
	background : #ffffff;
	border : 1px solid #d9d9d9;
	color : #d9d9d9;
}
#nexacontainer .TextArea.style_type01[status=mouseover][userstatus=nulltext]
{
	border : 1px solid #d9d9d9;
	color : #d9d9d9;
}
#nexacontainer .Spin.style_type01[status=mouseover][userstatus=invalidtext]
{
	background : #ffffff;
	border : 1px solid #d9d9d9;
	color : #d9d9d9;
}
#nexacontainer .MaskEdit.style_type01[status=mouseover][userstatus=nulltext]
{
	background : #ffffff;
	border : 1px solid #d9d9d9;
	color : #d9d9d9;
}
#nexacontainer .Calendar.style_type01[status=mouseover][userstatus=invalidtext]
{
	background : #ffffff;
	border : 1px solid #d9d9d9;
	color : #d9d9d9;
}
#nexacontainer .PopupMenuControl.popupMenumenupopupmenu.dummy .popupmenuitem[userstatus=selected][status=mouseover]
{
	background : #eaeaea;
	color : RGBA(0,0,0,0.87);
}
